/* CSS Document */
/*https://www.wizardingworld.com/features/minalima-talk-through-the-hogwarts-letter*/
*, *::after, *::before {
  box-sizing:border-box;  
}
:root{
  --backgroundcolor: rgb(14, 16, 20);
  --fontcolorh1: rgb(247, 241, 238);
}
html{
  background-color: var(--backgroundcolor);
}
h1{
  color: var(--fontcolorh1);
}

