/* CSS Document */
/*https://www.wizardingworld.com/features/minalima-talk-through-the-hogwarts-letter*/
*, *::after, *::before {
  box-sizing:border-box;  
}
:root{
  --backgroundcolor: rgb(16, 20, 27);
  --fontcolorh1: rgb(247, 241, 238);
  --fontcolorrest: white;
  --buttoncolor: rgb(107, 99, 181);
  --fontsofiabutton: 'Sofia Pro', sans-serif;
  --fontbluu: 'Bluu Next', sans-serif;
  --fontmasonh2: 'mason-sans',sans-serif;                                                                                                                         
}
html{
  margin: 0;
}
body{
  position: relative;
  background-color: var(--backgroundcolor);

  margin: 0;

  /*width: 100%;
  height: 100%;
  padding: 0;*/
}

/*------------------
------Basicstyle----
--------------------*/
h1 { /*h1*/
  color: var(--fontcolorh1);
  font-family: var(--fontbluu);
  font-weight: 700;
  line-height: 1.1;
  font-size: 2.5em;
  margin-bottom: 2em;

  text-align: center;
}
h2{
  color: var(--fontcolorrest); 

  font-family: var(--fontmasonh2);
  font-weight: 700;
  font-style: normal;

}
h3{
  color: var(--fontcolorrest);
  font-family: var(--fontbluu);
  font-weight: 700;
}
h4{
  color: var(--fontcolorrest);
  font-family: var(--fontbluu);
  font-size: 2.5em;
  font-weight: 700;

}
h5{
  color:var(--fontcolorrest);
  font-family: var(--fontsofiabutton);
}
p{
  color: var(--fontcolorrest);
  font-family: var(--fontsofiabutton);
}
a{
  text-decoration: none;
  color: var(--fontcolorrest);
  font-family: var(--fontsofiabutton);

}

/*------------------
-------HEADER-------
--------------------*/
header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  align-items: center;
  width: 100%;
  padding: 1em 0em 0.4em;

  z-index: 2;

  background: linear-gradient(var(--backgroundcolor), rgba(16, 20, 27, 0.1));
}
nav ul{ /*Hamburger menu*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--backgroundcolor);
  text-decoration: none;

  margin: 0;
  padding-top: 4em;
  padding: 2em 1em 1em 1em;
  
  /*visibility button*/
  transform: translateX(100%);
}
nav ul.open { /*openen hamburger menu*/
  transform: translateX(0%);
  max-width: 34em;
}
nav li{/*Hamburger menu kopjes*/
  list-style-type: none;
  padding: 1em 1.5em 1em 1.5em;

  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 700;
}
nav>img{ /*hamburger menu knop (streepjes)*/
  height: 2em;
  padding-left: 1em;
}
nav ul img{/*kruisje/sluit menu knop*/
  width: 2em;
  height: auto;
}
nav a{/*geen underline van linkjes*/
  text-decoration: none;
}
header>img{ /*wizardingworld logo top*/
  justify-self: center;
  height: 3em;
  max-height: 5em;/*!!!!!wekt dit?*/
}
header>a{ /*login button*/
  text-decoration: none;
  justify-self: center;

  padding: 0.6em 1.5em;
  border-radius: 0.3em;
  font-size: 0.6em;

  background-color: var(--buttoncolor);
}

/*------------------
-------Footer-------
--------------------*/
footer{
  text-align: center;

  margin: 1.5em 1em 1em 1em;
  padding: 1em 2.5em 2em 2.5em;

  border: solid;
  border-color: var(--fontcolorrest);
  border-width: 0.01em;
}
footer ul {/* alle nav/links in footer*/
  list-style-type: none;
  padding: 0em 0em 1em 0em;

  border-bottom: solid;
  border-color: var(--fontcolorrest);
  border-width: 0.01em;
}
footer li {/*links in footer*/
  padding: 0.5em;
}
footer>img{/*wizardingworld logo in footer*/
  height: 7em;
  min-height: 7em;
  width: auto;

  padding: 1em;
}
footer p{/*rechten/tekst in footer*/
  color: rgb(159 161 173);
  font-size: 0.8em;

  margin-bottom: 1.5em;
}
footer section{/*social media logo's*/
  margin-top: 2em;
}
footer section>a img{/*social media per logo*/
  text-decoration: none;
  width: 2em;
  margin: 0em 0.5em 0em 0.5em;
  height: auto;
}

/*------------------
-------MAIN---------
--------------------*/
main{
  display: grid;
}

/*-----section nr.1-----*/
main section:first-of-type{/*EERSTE content*/
  position: relative;
  text-align: center;
}
main section:first-of-type img:first-of-type{/*hagrid image*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 38em;
  overflow: hidden;

  z-index: -1;

  filter: opacity(0.6);
  /*color: linear-gradient(rgba(16, 20, 27, 0.1), var(--backgroundcolor));*/
}
main section:first-of-type img:last-of-type{/*fantastic beasts logo en hp logo*/
  margin-top: 10em;
  width: 100%;

  max-width: 33.5em;
}
main section:first-of-type a{ /*de discover button*/
  background-color: var(--buttoncolor);

  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  padding: 1.1em 4em;
  border-radius: 2em;
  max-width: 13em;
}

/*-----section nr.2-----*/
section:nth-of-type(2){/*de slider met artikelen*/
  display: flex;
  overflow-x: auto;
  margin-top: 5em;
}
section:nth-of-type(2) article{/*artikelen in de slider*/
  position: relative;
  flex-shrink: 0;
  width: 75%;
  margin: 0em 1em 3em 1em;

  max-width: 18em;
  height: auto;
}
section:nth-of-type(2) article h2{/*alle h2 in slider*/
  margin: 4em 0em 0em 3em;
  font-size: 1em;
}
section:nth-of-type(2) article h3{/*alle h3 in slider*/
  font-size: 1.4em;
  line-height: 1.27;

  margin: 0.9em 0em 0em 2.2em;
}
section:nth-of-type(2) article img{/*alle img in slider*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  filter: opacity(0.6);

  z-index: -1;
}

/*-----section nr.3-----*/
section:nth-of-type(3){/*de section met losse artikelen*/
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
section:nth-of-type(3) article{/*de losse artikelen*/
  position: relative;
  width: 100%;
  text-align: center;

  margin: 2em 0em 0.5em 0em;
  padding: 1em;

  max-height: 20em;
}
section:nth-of-type(3) article img{/*alle images in de artikelen*/
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  filter: opacity(0.6);

  z-index: -1;

  max-width: 39em;
}
section:nth-of-type(3) article h2{/*alle h2 in de artikelen*/
  font-size: 1em;
  text-align: end;

  margin: 3em 0em 0em 0em;
}
section:nth-of-type(3) article h4{/*alle h4 in de artikelen*/
  font-size: 2.5em;
  text-align: end;
  margin: 0.2em 0em 0em 0em;
}
section:nth-of-type(3) article p{/*alle p in de artikelen*/
  font-size: 0.9em;
  line-height: 1.25em;
  text-align: end;

  padding-bottom: 1em;
}
section:nth-of-type(3) article a{/*alle a in de artikelen*/
  background-color: var(--buttoncolor);

  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  padding: 1.1em 4em;
  border-radius: 2em;
  max-width: 10em;
}

/*-----section nr.4-----*/
section:nth-of-type(4){/*section met nieuwsartikelen*/
  margin: 2em 0.5em 2em 0.5em;
}
section:nth-of-type(4) ul{/*lijst met artikelen*/
  list-style-type: none;
  padding: 0.5em;
  margin-bottom: 0;
}
section:nth-of-type(4) li{/*artikelen in de lijst*/
  position: relative;
  width: 100%;
  text-align: left;

  padding: 0.5em 0em 2em 0em;
}
section:nth-of-type(4) li:nth-of-type(2){/*middelste nieuwsartikel*/
  border: solid;
  border-width: 0.01em 0em 0.01em 0em;
  border-color: var(--fontcolorrest);
}
section:nth-of-type(4) p{/*tekst van de artikelen in de lijst*/
  margin: 0;
  padding-bottom: 0.2em;

  line-height: 1.5em;
}
section:nth-of-type(4) h5{/*view all news knop*/
  padding: 0em 0.5em 0em 0.5em; 
  margin: 0em;
  text-align: right;
}
section:nth-of-type(4) img{/*alle images in de lijst*/
  position: absolute;
  right: 0;
  top: 0;
  width: 10em;

  z-index: -1;
}

/*-----section nr.5-----*/
section:nth-of-type(5){/*section met "cards"*/
  margin: 1em;

  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}
section:nth-of-type(5) article{/*een"card, losse heading met img*/
  position: relative;
  margin: 1em;
  align-items: center;
}
section:nth-of-type(5) h3{/*h3 van de "cards", heading*/
  font-size: 1.5em;

  padding: 2.5em 1em 2.5em 1em;
  margin: 0.5em;

  border: solid;
  border-color: var(--fontcolorrest);
  border-width: 0.01em;
}
section:nth-of-type(5) img{/*afbeeldingen van de "cards"*/
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;

  filter: opacity(0.6);

  z-index: -1;
}
section:nth-of-type(5) h5{/*view all features knop*/
  padding: 0em 0.5em 0em 0.5em; 
  margin: 0em;
  text-align: right;
}

/*_____RESTYLEN_____*/
@media (min-width:32em){
  section:nth-of-type(3) article{ /*losse artikelen ruimte toevoegen*/
    padding-bottom: 5em;
  }
  section:nth-of-type(4) h5{/*view all news knop*/
    padding-top: 3em;
  }
  main section:first-of-type img:last-of-type{/*fantastic beasts logo en hp logo*/
    padding-top: 5em;
  }

}
@media (min-width:70em) {/*restyling met width*/
  header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    padding-top: 0.5em;
  }
  header:hover{
    background-color: var(--backgroundcolor);
  }
  header>img{/*Wizardingworld logo*/
    grid-column: 2;
    padding-bottom: 0.5em;

    width: 4.5em;
    height: auto;
  }
  nav {
    justify-self:center;
    grid-row: 2;
    grid-column: 1/-1;

    border-top: solid;
    border-width: 0.01em;
    border-color: white;
  }
  nav ul {/*de gehele lijst in de nav*/
    position: static;
    transform: none; 
    display: flex;
    flex-direction: row;
    padding: 1em;
    background:none;
  }
  nav ul li{/*de kopjes in de nav*/
    font-size: 0.8em;
    height: 1em;
  }
  nav ul li a{/*de links van de nav*/
    width: 1em;
  }
  nav img{/*de sluit button en hamburger button*/
    display: none;
  }
  main section:first-of-type img:last-of-type{/*fantastic beasts logo en hp logo*/
    padding-top: 9em;
  }
  }